body, header, main, h1, h2, h3, p, aside, footer, section, img, nav, ul, li, a, div, button{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.cabecalho a{
    color: #9C9C9C;
    position: relative;
    left: 10%;
    top: 20px;
}
.logo1{
    display: flex;
    padding-top: 150px;
}
body{
    background-color: black;
}
h3{
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 42px;
    position: relative;
    top: 70px;
    font-family: IBM Plex Sans;
}
.perfis{
    display: flex;
    padding: 100px;
    box-sizing: 700px;
}

.perfis div{
    padding: 10px;
    border: 700px;  
}
.perfis div img{
    border-radius: 10px;
    width: 160px;
    height: 160px;
    cursor: pointer;
}
.perfis div img:hover{
    width: 205px;
    height: 205px;
    left: -21.5px;
    top: 0px;
    
    
}
.perfis p{
    padding: 15px;
    text-align: center;
    color: #9C9C9C;
    font-family: IBM Plex Sans;
    font-size: 14px;
}
.perfis p:hover{
    color: #FFFFFF;
    cursor: pointer;
}
button{
    display: flex;
    width: 206px;
    height: 50px;
    background-color: black;
    color: #fff;
    box-sizing: border-box;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    line-height: 21px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-family: IBM Plex Sans; 
}
button:hover{
    background: #FFFFFF;
    color: black;
    cursor: pointer;
}

.frame5 img{
    border: 1.5px;
    background-color: #1e1e20;
    opacity: 0.4;
}
.frame5 img:hover{
    border: 1.5px solid #FFFFFF;
    opacity: 0.8;
}
.frame5 p{
    color: #9C9C9C;
}


